@model WeatherResult

@{
    ViewData["Title"] = "Ilmaennustus";
}

<div class="text">
    <h1>@ViewData["Title"]</h1>
  @*   <p>Koordinaadid: @Model.geometry.coordinates</p>
    <p>Temperatuur: @Model.details.air_temperature</p>
    <p>Niiskus: @Model.details.relative_humidity</p> *@
</div>

